.subtitle{
  padding-top: 75px;
  text-align: left;
}

/* Create two unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
}

.left {
  width: 25%;
}

.right {
  width: 75%;
}

.myPicture img{
  object-fit: cover;
  width: 100%;
  max-height: 75%;
  border-radius: 50%;
}





/* Text */
.header1 {
  text-align: left;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 300;
  font-size: 450%;
  border-bottom:5px solid #CCC;
  padding-bottom:3px;
}

.header1b {
  padding-top: 25px;
  text-align: left;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 200;
  font-size: 300%;
  border-bottom:1px solid #CCC;
  padding-bottom:3px;
}

.header3 {
  text-align: left;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 200;
}

.bodyText{
  text-align: left;
  padding-top: 75px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.gridHeader{
  margin: 5px;
  text-align: left;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;  
}

.gridText {
  margin: 5px;
  text-align: left;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 250;
  font-size: 75%;
}


/* Grid Layouts */
.grid{
  padding-top: 25px;
  display: grid;
  padding-bottom: 50px;
  grid-template-columns: repeat(8 ,minmax(50px, auto));
  grid-auto-rows:minmax(120px, auto);
  grid-gap: 3px;
}

.largeItem {
  grid-column-end: span 2;
  grid-row-start: span 2;
   overflow: hidden;
   transition: all 0.3s ease-in-out;
   color: white;
   background-repeat: no-repeat;
   border-width: 5px;

}
.largeItem:hover {
  cursor: pointer;
  -webkit-transform: scale(1.005, 1.005);
  transform: scale(1.005, 1.005);
  box-shadow:inset 0 0 0 99999px rgba(255,255,255,0.2);
}

.mediumItem {
  grid-column-end: span 2;
  grid-row-start: span 1;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  color: white;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  


}
.mediumItem:hover {
  cursor: pointer;
  -webkit-transform: scale(1.005, 1.005);
  transform: scale(1.005, 1.005);
  box-shadow:inset 0 0 0 99999px rgba(255,255,255,0.2);
}

.smallItem {
  grid-column-end: span 1;
  grid-row-start: span 1;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  color: white;
  background-size: 100% 100%;
  background-repeat: no-repeat;


}
.smallItem:hover {
  cursor: pointer;
  -webkit-transform: scale(1.005, 1.005);
  transform: scale(1.005, 1.005);
  box-shadow:inset 0 0 0 99999px rgba(255,255,255,0.2);
}



/* Icons */
.social-buttons{
  border-radius:10px;
  text-align:center;}
  
.social-margin {
  margin-right: 15px;}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;}

.social-icon {
   box-sizing: border-box;
  -moz-border-radius: 138px;
  -webkit-border-radius: 138px;
  border-radius: 138px;
  border: 5px solid;
  text-align: center;
  width: 50px;
  height: 50px;
  display: inline-block;
  line-height: 1px;
  padding-top: 11px;
  transition: all 0.5s;}

.social-icon:hover {
    transform: rotate(360deg)scale(1.3);}
 
  /* Linkedin Button Styling */
  .linkedin {
    font-size: 24px;
    padding-top: 8px;
    padding-left: 1px;
    background-color: #0976b4;
    color: #ffffff;
    border-color: #0976b4; 
  }
  .linkedin :hover {
    background-color: #0976b4;
    color: #ffffff;
  }

  /* Email Button Styling */
  .envelope {
    font-size: 22px;
    padding-top: 9px;
    background-color: #1769ff;
    color: #ffffff;
    border-color: #1769ff;
  }
  .envelope :hover {
    background-color: #1769ff;
    color: #ffffff;
  }

  /* Github Button Styling */
 .github {
    font-size: 22px;
    padding-top: 9px;
    background-color: #000000;
    color: #ffffff;
    border-color: #000000;
  }
  .github:hover {
    background-color: #ffffff;
    color: #000000;
  }
  /* Resume Button Styling */
 .file {
    font-size: 22px;
    padding-top: 9px;
    padding-left: 0px;
    background-color: #bb0000;
    color: #ffffff;
    border-color: #bb0000;
    
  }
  .file  :hover {
    background-color: #ffffff;
    color: #ffffff;
  }

